{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.name }}!</h1>
    <p>Here is some information about you:</p>
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% if user.about_me %}
                    <tr>
                        <th>About me:</th>
                        <td>{{ user.about_me }}</td>
                    </tr>
                    {% endif %}
                    {% if user.last_seen %}
                    <tr>
                        <th>Last seen:</th>
                        <td>{{ user.last_seen }}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </table>
    {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    {% if resume_preview %}
    <h2>The following resumes: </h2>
    {% for resume, resume_categories in resume_preview.items() %}
        <h3>Resume {{ resume.id }} created on {{ resume.created }} in Language {{ resume.language.upper() }}:</h3>
        {% include 'profile/resume_category.html' %}
        <p>To add another resume item click 
            <a href="{{ url_for('add_resume_item', resume_id=resume.id) }}">here</a>
        </p>
    {% endfor %}
    {% else %}
    <h2>No resume yet!</h2>
    <p>Click <a href="{{ url_for('add_resume', email=user.email) }}">here</a> to create a resume item.</p>
    {% endif %}
{% endblock %}