{% extends "base.html" %}

{% block content %}
    <h1>Create a coverletter</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.company.label }}<br>
            {{ form.company(size=64) }}<br>
            {% for error in form.company.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.positing_url.label }}<br>
            {{ form.positing_url(size=32) }}<br>
            {% for error in form.positing_url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.posting_text.label }}<br>
            {{ form.posting_text(size=128) }}<br>
            {% for error in form.posting_text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.posting_date.label }}<br>
            {{ form.posting_date(size=32) }}<br>
            {% for error in form.posting_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.language.label }}<br>
            {{ form.language(size=1) }}<br>
            {% for error in form.language.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}